.white-box-top
.white-box-container
  .content
    %h1= t('institution.list')
    = link_to t('institution.new'), new_institution_path
    %table
      %tr
        %th= t('institution.name')
        %th= t('institution.site')
        %th= t('institution.email')
        %th= t('institution.phone')
        %th
        %th
        %th

      - @institutions.each do |institution|
        %tr
          %td= institution.name
          %td= link_to 'acessar', institution.site
          %td= institution.emails_as_html.html_safe
          %td= institution.phones_as_html.html_safe
          %td= link_to t('show'), institution
          %td= link_to t('edit'), edit_institution_path(institution)
          %td= link_to t('destroy'), institution, :confirm => t('are_you_sure'), :method => :delete

    %br

  .clearfix

.white-box-bot